In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Missing Data

### Series

In [5]:
data = Series(['one', 'two', np.nan, 'four'])
data

0     one
1     two
2     NaN
3    four
dtype: object

In [9]:
data.isnull()

# pd.isnull(data)

0    False
1    False
2     True
3    False
dtype: bool

In [10]:
data.dropna()

0     one
1     two
3    four
dtype: object

### DataFrame

In [13]:
dframe = DataFrame([[1, 2, 3], [np.nan, 5, 6], [7, np.nan, 9], [np.nan, np.nan, np.nan]])
dframe

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0
3  NaN  NaN  NaN

In [14]:
# 只要有NaN的rows都會被drop (若要drop columns，使用axis=1)
clean_dframe = dframe.dropna()

In [15]:
clean_dframe

     0    1    2
0  1.0  2.0  3.0

In [18]:
# 只有全部NaN的rows才會被drop
dframe.dropna(how='all')

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0

In [27]:
npn = np.nan
dframe2 = DataFrame([[1, 2, 3, npn], [2, npn, 5, 6], [npn, 7, npn, 9], [1, npn, npn, npn]])
dframe2

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0
3  1.0  NaN  NaN  NaN

In [28]:
# 沒有超過2個有效data(非NaN)的rows會被drop
dframe2.dropna(thresh=2)

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0

In [29]:
dframe2.dropna(thresh=3)

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0

In [30]:
# 將NaN用指定value取代
dframe2.fillna(1)

     0    1    2    3
0  1.0  2.0  3.0  1.0
1  2.0  1.0  5.0  6.0
2  1.0  7.0  1.0  9.0
3  1.0  1.0  1.0  1.0

In [31]:
# 將NaN用指定value取代(不同column指定不同value)
dframe2.fillna({0:0, 1:1, 2:2, 3:3})

     0    1    2    3
0  1.0  2.0  3.0  3.0
1  2.0  1.0  5.0  6.0
2  0.0  7.0  2.0  9.0
3  1.0  1.0  2.0  3.0

In [32]:
# dframe2 = dframe2.fillna(1)
dframe2.fillna(1, inplace=True)

In [33]:
dframe2

     0    1    2    3
0  1.0  2.0  3.0  1.0
1  2.0  1.0  5.0  6.0
2  1.0  7.0  1.0  9.0
3  1.0  1.0  1.0  1.0