In [5]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [13]:
ser = Series(randn(6), index=[[3, 3, 3, 2, 2, 2], ['a', 'b', 'c', 'a', 'b', 'c']])
ser

3  a   -1.038865
   b    0.278229
   c    1.768621
2  a   -0.155275
   b    0.900916
   c   -1.238576
dtype: float64

In [14]:
ser.index

MultiIndex(levels=[[2, 3], [u'a', u'b', u'c']],
           labels=[[1, 1, 1, 0, 0, 0], [0, 1, 2, 0, 1, 2]])

In [17]:
ser[3]

a   -1.038865
b    0.278229
c    1.768621
dtype: float64

In [18]:
ser[2]

a   -0.155275
b    0.900916
c   -1.238576
dtype: float64

In [20]:
ser[:, 'a']

3   -1.038865
2   -0.155275
dtype: float64

In [22]:
# 從MultiIndex Series轉換成DataFrame
dframe = ser.unstack()
dframe

          a         b         c
2 -0.155275  0.900916 -1.238576
3 -1.038865  0.278229  1.768621

In [26]:
# MultiIndex DataFrame
dframe2 = DataFrame(np.arange(16).reshape(4, 4),
                    index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                    columns=[['NY', 'NY', 'LA', 'SF'], ['cold', 'hot', 'hot', 'cold']])
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [27]:
# Naming
dframe2.index.names = ['INDEX_1', 'INDEX_2']
dframe2.columns.names = ['Citites', 'Temp']

In [28]:
dframe2

Citites           NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [29]:
# Swap columns
dframe2.swaplevel('Citites', 'Temp', axis=1)

Temp            cold hot     cold
Citites           NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [32]:
# Sort Index
dframe2.sortlevel(1) # INDEX_2

Citites           NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [33]:
# Sum columns
dframe2.sum(level='Temp', axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27